<div class="flex flex-wrap flex-col gap-5 justify-start md:justify-center content-center py-2 md:py-20">
    <div class="px-2 md:px-0">
        <h1 class="text-3xl font-bold text-blue-700">Logo</h1>
    </div>
    <div class="bg-white px-8 pt-8 md:pb-8 w-auto md:w-5/12 rounded-md shadow-none md:shadow-xl">
        <div>
            <h1 class="text-5xl font-semibold">Iniciar sesión</h1>
            <p class="text-base">Mantente al día</p>
        </div>
        <div class="pt-4">
            <form>
                <div>
                    <label class="text-blue-700 font-semibold">Usuario</label>
                    <input type="text" class="focus:ring-blue-700 focus:border-blue-700 w-full border border-gray-800 py-2 px-5 rounded-md mb-4">
                </div>
                <div>
                    <label class="text-blue-700 font-semibold">Contraseña</label>
                    <input type="password" class="focus:ring-blue-700 focus:border-blue-700 w-full border border-gray-800 py-2 px-5 rounded-md mb-4">
                </div>
                <div>
                    <a href="/" class="text-blue-700 font-semibold rounded-full p-2 hover:bg-blue-300 hover:underline">¿Has olvidado tu contraseña?</a>
                </div>
                <div class="mt-4 text-center">
                    <button class="bg-blue-600 rounded-full py-4 w-full text-white font-bold text-xl hover:bg-blue-700">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center pt-0 md:pt-5">
        <div>
            ¿Eres nuevo?
            <a [routerLink]="['/register']" class="text-blue-700 font-semibold rounded-full p-2 hover:bg-blue-300 hover:underline">Registrate ahora</a>
        </div>
    </div>
</div>
