<div class="flex w-full">

    <!-- Nav start -->
    <div id="nav" class="fixed w-52 bg-gray-700 h-screen pb-14 sidenav">
        <app-sidenav></app-sidenav>
    </div>
    <!-- Nav end -->


    <div id="content" class="w-full content">
        <!-- Header start -->
        <app-header></app-header>
        <!-- Content start -->
        <div id="main" class="mt-14 main bg-red-200">
            <router-outlet></router-outlet>
        </div>
        <!-- Content end -->

        <!-- Header end -->

    </div>

</div>